body {
	background-color: white;
}
h1 {
	background-color: rgba(150,170,100,1);
	padding: 50px;
	/* height: 70px; */
	/* color: rgba(100,100,100,1); */
	color: white;
	font-family: arial;
	font-weight: 100;
	font-stretch: 200;
	font-size: 250%;
	font-variant: small-caps;
	letter-spacing: 10px;
	margin: 0px;
}
p {
	color: blue;
	font-family: arial;
	max-width: 100%;
	margin: auto;
}

/* Three image containers */
.column {
	float: left;
	width: 33.33%;
	padding: 0%;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}