body{
	background-color: white;
}
.header{
	background-color: rgba(130,180,60,1);
	color: white;
	padding: 30px;
	text-align: center;
	font-size: 40px;
	font-family: arial;
	letter-spacing: 5px;
	font-variant: small-caps;
	margin: -10px;
}
