*{
	margin: 0;
	padding: 0;
	font-family: arial;
}
body{
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.3)), url(farm.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.header{
	min-height: 10vh;
	min-width: 100vw;
	color: white;
	text-align: center;
	/*font-size: 25px;*/
	letter-spacing: 2px;
	font-variant: small-caps;
	/*margin: -10px;*/
	position: sticky;
	top: 0;
}
.header h1{
	font-size: 30px;
	text-weight: normal;
	letter-spacing: 5px;
	color: white;
	font-weight: 300;
	padding: 2% 6% 2%;
	align-items: center;
/*	justify-content: space-between;*/
	background-color: rgba(130,180,60,0.5);
}
nav{
	margin: -10px 0 0 0;
}
.nav-links{
	flex:1;
	text-align: right;
	height: 100vh;
	width: 200px;
	left: -210px;
	transition: 0.5s;
	background-color: rgba(110,150,70,1);
	margin-top: -90px;
	padding-top: 55px;
	z-index: 2;
	position: fixed;
}
.nav-links ul li{
	list-styles: none;
	display: block;
	position: relative;
	padding: 7px;
}
.nav-links ul li:hover{
	background-color: white;
	color: rgba(130,180,60,0.5);
	transition: 0.5s;
}
.nav-links ul li a{
	color: white;
	text-decoration: none;
}
.nav-links ul li:hover a{
	color: rgba(130,180,60,1);
}
.menu-open{
	display: block;
	margin: 10px;
	cursor: pointer;
	float: left;
	position: absolute;
	padding: 2% 6% 2%;
}
nav .menu-close{
	color: white;
	cursor: pointer; 
	text-align: right;
	padding: 5px 7px 0 0;
}
