body{
	background-color: white;
}
.header{
	background-color: rgba(130,180,60,1);
	color: white;
	padding: 1px;
	text-align: center;
	font-size: 25px;
	font-family: arial;
	letter-spacing: 5px;
	font-variant: small-caps;
	margin: -10px;
}
.logo{
	text-align: center;
}
.menuButton{
	float: left;
	margin: 23px 0 0 30px;
	border-radius: 0 0 0 0;
	padding: 7px;
	background-color: white; 
	border: solid white;
	color: rgba(130,180,60,1);
}
.menu{
	border: solid black;
	background-color: grey;
	font-family: arial;
}
