body{
	background-color: white;
}
.header{
	background-color: rgba(130,180,60,1);
	color: white;
	padding: 2px;
/*	text-align: center;*/
	font-size: 40px;
	font-family: arial;
	letter-spacing: 5px;
	font-variant: small-caps;
	margin: -10px;
}
.logo{
	text-align: center;
}
.menuButton{
	float: left;
	margin: 50px 0 0 10px;
	border-radius: 0 0 0 0;
	background-color: green;
	border: solid rgba(88,255,0,0.5);
}
